@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root{
    /* Primary */
    --Tomato: hsl(4, 100%, 67%);
    /* Neutral */
    --DarkSlateGrey: hsl(234, 29%, 20%);
    --CharcoalGrey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
    /* FontSizes */
    --SizeH1: clamp(2.5rem, 2.215rem + 1.471vw, 3.125rem);
    --fontSize: 16px;
    /* paddings */
    --bodyPadding: clamp(0.5rem, -0.321rem + 4.235vw, 2.3rem);
    /* borders */
    --borderRadius: 30px
}
*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: var(--DarkSlateGrey);
    font-size: var(--fontSize);
}
body, main, header{
    display: flex;
    flex-direction: column;
}
body{
    background-color: var(--CharcoalGrey);
    align-items: center;
    height: 100dvh;
}

main{
    background-color: var(--White);
    max-width: 28em;
    max-height: 100%;
    flex-direction: column-reverse;
    border-radius: var(--borderRadius);
    header.info-container{
        padding: 1.3em;
        justify-content: space-around;
        h1{
            font-size: var(--SizeH1);
            margin-bottom: 10px;
        }
        p{
            margin: 10px 0;
        }
        ul{
            list-style: none;
            position: relative;
            margin-bottom: 10px;
            li::before{
                position: absolute;
                content:"";
                background-image: url('./assets/images/icon-list.svg');
                width: 25px;
                height: 25px;
                left: 0;
                background-repeat: no-repeat;
            }
        }
    }
    footer{
        border-radius: 10px;
        overflow: hidden;
        img{
            width: 100%;
            height: auto;
        }
    }
}

form{
    position: relative;
    label, span{
        font-size: 13px;
        font-weight: 500;
    }
    span{
        position: absolute;
        right: 0;
        color: tomato;
        display: none;
    }
    input{
        border: 1px solid var(--Grey);
    }
    input, button{
        width: 100%;
        padding: 1em;
        border-radius: 8px;
        margin: 10px 0;
    }
    button{
        background-color: var(--DarkSlateGrey);
        color: var(--White);
        font-weight: 500;
        border: none;
        cursor: pointer;
    }
}

.error-state{
    span{
        display: inline;
    }
    input{
        border: 1px solid var(--Tomato);
        color: var(--Tomato);
        background-color: rgba(255, 99, 71, 0.103);
        &::placeholder{
            color: var(--Tomato);
        }
    }
}


#success-message{
    display: none;
    width: 80%;
    background-color: white;
    h1{
        font-size: 30px;
    }
}

@media (min-width: 420px) {
    body{
        padding: var(--bodyPadding);
    }
}
@media (min-width: 600px) {
    body{
        justify-content: center;
        main{
            flex-direction: row;
            max-width: 50em;
        }
        header.info-container{
            width: 55%;
            padding: clamp(1rem, -0.003rem + 5.176vw, 3.2rem);
            padding-right: 1em;
        }
        footer.img-container{
            padding: 1.1em;
            display: flex;
            align-items: center;
        }
    }
}